body{
    background-color: #FFFFED;
}
#focus{
    display: flex;
}

.focus-1 {
    width: 50%;
    padding-left: 100px;
 
}

#focus-1{
    
    padding-top: 150px;
}

.focus-1 img{
    display: block;
    width: 80%;
}
h1{
    font-size: 70px;
    margin: 0;
}
p{
    font-size: 20px;
}
a{
    text-decoration: none;
    color: black;
}

.heading{
    border-left: 5px solid tomato;
    padding-left: 10px;
    border-radius: 5px;
}

#mission{
    color: goldenrod;
}

.button{
    color: white;
    font-size: 50 px;
    background-color: tomato;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 5px;
    
}
